# Introduction to Python Workshop

### Welcome!

Welcome to the Intro to Python Workshop!  

* Level: Beginner

* Duration: 4 hours

* prerequisite: None

### Workshop goals

* Learn basic Python syntax and concepts: variables, data types, lists, loops, fuctions, etc.
* Practice writing simple scripts
* Do basic data plotting to visualize results
* Use Colab

## About Python...

### What is Python?
For more on the history, see: https://en.wikipedia.org/wiki/History_of_Python

Python was introduced by Guido Van Rossum in 1991. It has a number of features:
* Free and open source
* Interpreted language
* Object-oriented language

### Free and Open Source
Being a free and open source language, anyone can download and use Python, but also more! Anyone can distribute Python and even modify Python, or contribute to its development. Python is developed by the **community** that uses it.

### Interpreted
Python is an *interpreted* language, **not** a *compiled* language. This means that the entire program file is not translated into machine code before it is run. Instead, only parts of the program are translated when they need to be. This means that when you make a change to one part of a program, you don't need to rebuild your entire project. You often just need to restart your interpreter. This also means that you can open Python in your terminal, type in a single line, and it will work!

### Object-Oriented
In Python, we use **objects** to represent things. Yeah... I know that doesn't really help. So, objects are a way of representing something, and they group together **data** about that thing (in the form of *attributes*) and **manipulations** that you can do with that thing (in the form of *methods*). Lots of things in Python are represented using these objects from strings of text to lists and you can even make your own (we won't cover that today).

## How to install Python

You've probably done this in the setup for the workshop. There are a number of ways to download Python. If you're on macOS or Linux, lucky you! You might already have Python installed. To see if you do, just open up a terminal window (on macOS, it should be under `Applications > Utilities > Terminal` and on Linux you may be able to just press `Ctrl+Alt+T` to open a terminal window). Once you're there, type `which python`. If you see something that isn't an error message, you already have python. You may also have to try `which python3`.

Now, if you don't have Python installed, you can install it from Python's website at https://www.python.org or get it from the Windows Store or your local software repository on Linux. But, there's another way that is quite helpful: using a Python distribution such as **Anaconda** or **miniconda**.

Why use Anaconda? Well, it comes with **many** pre-installed packages which are very helpful in science, such as NumPy, SciPy, Matplotlib, Pandas, and more! It's a bit of a big download and the install takes a bit of time, but it is definitely worth it. To get Anaconda, just go to https://www.anaconda.com/ and hit the big green `Download` button. There is a graphical installer for Windows and macOS and a text-based installer for Windows, macOS and Linux. If you don't want to perform a 600 MB download, you can opt for miniconda instead. Go https://docs.conda.io/en/latest/miniconda.html and click on one of the download links,. Unlike Anaconda, miniconda doesn't come with the packages pre-installed, but it provides you with the `conda` tool to help you install them. We'll discuss Packages more later.

Finally, if you don't want to install Python, then good news! If you have a Google Account, then you can use Python on the web. I'll discuss this more very soon.

## Tools for Programming in Python

There are many tools out there for programming in Python:
* **Jupyter Notebooks:** Let's start with the tool that we're using now! This tool lets us combine code, explanations and figures. This is really good if you want to share your code with extra details. With a Google Account, you can use Jupyter notebooks remotely via **Google Colab**.
* **`python` shell:** This is the most basic way of running a script in the command line or using an interpreter to run one line at a time.
* **`ipython` shell:** Similar to the regular Python shell, but with better auto-complete and syntax highlighting.
* **Microsoft Visual Studio Code:** code editor that can also be used for debugging and running Jupyter notebooks. Python extension necessary.
* **Spyder:** Fully-fledged integrated development environment (IDE). Write and debug code, view figures.
* **PyCharm:** Fully-fledged IDE developed by JetBrains. Community edition is open-source.


---

## How to use Colab

Google Colab is cloud-based, so no installation required. It comes pre-loaded with many Python libraries (NumPy, Matplotlib, pandas, etc.), so we can import and use them right away. Colab notebooks can mix text (like notes, markdown) and code.

To run code in Colab, we write python commands into a cell and execute it by clicking on Run cell.

In [ ]:
# Let's run our first command (This is a comment, it is never executed)
print("Hello World!")

In [ ]:
# Perform basic calculations
1+1



---

## Part 1: Python Syntax & Variables
In Python, a variable is a named container that stores a value (number, text, etc).

### Basic assigment
We use the sign `=` to assign a value to a variable

In [ ]:
# Create a variable that stores your age
age= ....
print(age)

Now, let's create a variable which contains text. We call it a `string`.

The text should be in quotation marks.

In [ ]:
# Create a variable that stores your name
name = ....
print(name)

Now, using the `print()` function and the `name` and `age` variable, introduce yourself.

In [ ]:
# Print a sentence to present yourself

print("My name is", name, "and I am", age, "years old!")

print(f"My name is {name} and I am {age} years old!")

### Be careful!

* Variable names consist of standard alphanumeric characters and the underscore _. A variable name cannot begin with a number. Feel free to use explicit and descriptive names with enough letters for clarity.

* Python is case-sensitive. This means it distinguishes between uppercase and lowercase letters. For example, the variables var and Var are considered different.

* The `=` sign has a different meaning that in math! In Python, `a=b` is different from `b=a` ! We will later see that the equal sign as in math is actually `==`

#### Are these variables okay to use? Why?

* *age = 15
* 1_day = 24
* 15 = age
* age == 15

In [ ]:
# Forbidden variable names

### Cool trick: simultanious assignments

You can assign multiple variables at once by separating them with commas (a tuple). You may include parentheses around the tuple or omit them. In general, parentheses improve readability.

In [ ]:
name, age, program = "Najia", 25, "QLS"

# same as

(name, age, program) = ("Najia", 25, "QLS")

Simultaneous assignment makes it easy to swap the values of two variables. This is a very convenient feature that is specific to Python.

In [ ]:
a = 1
b = 5

(a,b) = (b,a)
print(a)
print(b)

Finally, if you are unsure about the type of a variable, you can always check using `type()`.
![1_QfI8H_8HplGa1v9IrrWjBA.webp]()

*source: https://medium.com/@shawnren527/learn-about-python-3-data-types-numbers-and-strings-76c75a917c9b*

In [ ]:
# Check the type of the variables name and age
print("Type of variable age",.... )
print("Type of variable name",.... )

What is the type of those numbers/variables/expressions:
* 2.5
* 2+2i
* True
* 5 == 5

In [ ]:
# Types
print("Type of 2.5:", ....)
print("Type of 2+2i:",  ....)
print("Type of True:",  .... )
print("Type of 5==5:",  .... )

### Operators in Python!

### Arithmetic operators

Let's do some math using Python! This table present the most used arithmetic operators

$$
\begin{array}{|c|l|c|}
\hline
\textbf{Operator} & \textbf{Name} & \textbf{Example} \\
\hline
+  & \text{Addition}       & x + y \\
-  & \text{Subtraction}    & x - y \\
*  & \text{Multiplication} & x * y \\
/  & \text{Division}       & x / y \\
\% & \text{Modulus}        & x \% y \\
** & \text{Exponentiation} & x ** y \\
// & \text{Floor Division} & x // y \\
\hline
\end{array}
$$


Do you think you can solve this using Python?

$$(3^2+5)×2 3−10÷2$$

In [ ]:
# Solve it :)
....

#### Comparison Operators (Booleans)

We compare things in Python all the time. For example, we can compare two variables to test if a condition is verified. This is very helpful when we're dealing with conditions and loops!  

$$
\begin{array}{|c|l|c|}
\hline
\textbf{Operator} & \textbf{Name} & \textbf{Example} \\
\hline
==  & \text{Equal}                     & x == y \\
!=  & \text{Not equal}                & x \neq y \\
>   & \text{Greater than}             & x > y \\
<   & \text{Less than}                & x < y \\
>= & \text{Greater than or equal to} & x \ge y \\
<= & \text{Less than or equal to}    & x \le y \\
\hline
\end{array}
$$

When we compare two quantities, the output is always a boolean (`True` or `False`).

In [ ]:
# compare a and b using all the operators in the table
a=5
b=1

print("a is equal to b ==> ",  ....)
print("a is not equal to b ==> ", ....)
print("a is greater than b ==> ",  ....)
print("a is less than or equal to b ==> ",  ....)

#### Logical operators (Booleans)

Logical operators are used to combine conditional statements. They return boolean values (`True` or `False`) based on logical relationships between conditions.

The table below summarizes the three main logical operators in Python:


$$
\begin{array}{|c|l|c|}
\hline
\textbf{Operator} & \textbf{Description} & \textbf{Example} \\
\hline
\texttt{and} & \text{Returns True if both statements are true} & x < 5 \text{ and } x < 10 \\
\texttt{or}  & \text{Returns True if at least one statement is true} & x < 5 \text{ or } x < 4 \\
\texttt{not} & \text{Reverses the result (True becomes False)} & \text{not}(x < 5 \text{ and } x < 10) \\
\hline
\end{array}
$$



Now, using the variables `a`and `b` and our logical operators, can you write:
*  one `True` statement?  
* one `False` statement?

In [ ]:
# True statement

statement1 =  ....
print("Statement 1 is", statement1)

# False statement

statement2 =  ....
print("Statement 2 is", statement2)

### Incrementing a variable

Let’s suppose that in your program, you know that the variable `a` holds a number. You simply want to increase its value by `k` — this is called incrementing.

For example, to increment by 1:

* If the variable `a` initially points to 5, you want it to point to 5 + 1 = 6 afterwards.

* If it initially points to −12, you want it to point to −12 + 1 = −11 afterwards.

There are many ways to do this in Python! The most natural way would be to replace the value of the variable `a` by `a+1`

In [ ]:
# Increment the variable a by 5!

a = 1
....
print(a)

We can also use more fancy ways to achieve the same result! This table presents all the assignment operators!

$$
\begin{array}{|c|l|l|}
\hline
\textbf{Operator} & \textbf{Example} & \textbf{Same As} \\
\hline
\texttt{=}   & x = 5         & x = 5 \\
\texttt{+=}  & x += 3        & x = x + 3 \\
\texttt{-=}  & x -= 3        & x = x - 3 \\
\texttt{*=}  & x *= 3        & x = x * 3 \\
\texttt{/=}  & x /= 3        & x = x / 3 \\
\texttt{%=} & x \%= 3       & x = x \% 3 \\
\texttt{//=} & x //= 3       & x = x // 3 \\
\texttt{**=} & x **= 3       & x = x ** 3 \\
\hline
\end{array}
$$

In [ ]:
# Increment the variable a again!
a=1
....
print(a)

### Strings

  We use strings for text. They are represented by the type `str`

  A string should be enclosed in either simple quotes `'` or double quotes `"`, but not both at the same time!

In [ ]:
# str example
print("Hi again!")

Hi again!

In [ ]:
message = "Welcome to our Intro to Python workshop!"

print(message)

We have seen earlier that there are plenty of operations that we can perform on numerical variables. Strings have their own operations too!

Here are some very useful ones:

$$
\begin{array}{|c|l|l|}
\hline
\textbf{Operation} & \textbf{Python Syntax} & \textbf{Description} \\
\hline
\text{Concatenation} & a + b & \text{Joins the two strings } a \text{ and } b \text{ together} \\
\hline
\text{Length} & \text{len(s)} & \text{Returns the number of characters in string } s \\
\hline
\text{Repetition} & n * s & \text{Repeats the string } s \text{, } n \text{ times} \\
\hline
\text{Membership} & a \text{ in } b & \text{Checks if string } a \text{ is in string } b \\
\hline
\text{Non-membership} & a \text{ not in } b & \text{Checks if string } a \text{ is not in string } b \\
\hline
\end{array}
$$

In [ ]:
# concatenation

DNA_seq1 = "AGATGCTGC"
DNA_seq2 = "GGGTGATGC"

print("concatenated DNA sequence:" , ....)

In [ ]:
# Length of the first DNA sequence?
 ....
# Length of the concatenated DNA sequence?
 ....

In [ ]:
# Repeat DNA_seq1 5 times!
 ....

In [ ]:
# Is DNA_seq1 present in big_DNA_seq?
big_DNA_seq = "GATAGCTGCTAGCTCGTAGCCATGCATCAACGTGGATGCAGTGGGGAGATGCTGCGTGATCGATCA"
 ....

In [ ]:
# Is DNA_seq2 present in big_DNA_seq?
 ....

#### Slicing and indexing
In a string, the characters are numbered starting from 0. This allows you to refer to specific characters by their position.

$$
\begin{array}{|l|l|}
\hline
\textbf{Syntax} & \textbf{Meaning} \\
\hline
\texttt{string[i]} & \text{The $i^\text{th}$ element (indexing starts at 0).} \\\\
                  & \text{If $i$ is negative, it counts from the end of the string.} \\
\hline
\texttt{string[i:j]} & \text{Substring from index $i$ (included) to $j$(excluded)}. \\\\
                     & \text{If $i$ is omitted, it defaults to 0 (start of the string).} \\\\
                     & \text{If $j$ is omitted, it defaults to len(string) (end of the string).} \\
\hline
\texttt{string[i:j:k]} & \text{Substring from $i$ (included) to $j$ (excluded), with a step of $k$.} \\\\
                       & \text{$k$ can be negative to slice in reverse order.} \\
\hline
\end{array}
$$



Let's try this on some examples:

In [ ]:
# Get the first nucleotide of DNA_seq1
print("first nucleotide of DNA_seq1:",  ....)
# Get the last nucleotide of DNA_seq1
print("last nucleotide of DNA_seq1:",  ....)
# Get the first 5 nucletides of big_DNA_seq
print("the first 5 nucletides of big_DNA_seq:", ....)
# Get the last 5 nucletides of big_DNA_seq
print("the last 5 nucletides of big_DNA_seq:", ....)

In [ ]:
# What if I do this?

big_DNA_seq[:]
big_DNA_seq[0:len(big_DNA_seq)]

### BONUS: Get input from user

To read user input, use the input command. By default, input returns a string.

In [ ]:
# get user's age

user_int = input("Please enter an integer between 1 and 10 ")

In [ ]:
print(user_int)

# Add 10 to user_int

# user_int + 10 should not work because user_int is a `str`
 ....

In [ ]:
# We can force the input to be a float or any type we want

user_int = int(input("Please enter an integer between 1 and 10 "))
user_int

Please enter an integer between 1 and 10 5

5

In [ ]:
# Add 10 to user_int
....

15



---

## Part 2: Data structures

We've seen that we can store data in basic types, like strings, ints and floats. But, let's say we want to store many of these at a time. For example, let say we have 100 DNA sequences that we want to store and process? Well, for this we have collection types. In this section, we'll see three important collection types:

* Lists
* Dictionnaries
* Tuples

### Lists

Lists are of the type list. In principle, they are very similar to strings, where each character is indexed by its position, but each element can be of any type (int, float, str, etc., or even another list).

* The elements in a list do not all necessarily have to be of the same type.

* A list is written between square brackets with elements separated by commas.

* The elements are indexed, and you can access them just like with strings.

In [2]:
# Can you get the first element of `fruits`?

fruits = ["apple", "orange", "banana"]

In [ ]:
# can you spot the difference between:

print(fruits[1])

print(fruits[1:2])

#### Replacing an element of a list

Unlike a string, a list can be modified internally without being copied. We say that lists are mutable.

In [ ]:
# Can you replace the first fruit with "cherry"?
 ....

In [ ]:
# Can you replace the first nucleotide of DNA_seq1 with "T" using the same logic? ==> introducing replace()
DNA_seq1 = "AGATGCTGC"
#DNA_seq1[0] = "T"  shouldn't work

# Instead, we do:
DNA_seq1.replace("A", "T", 1)   # 1 means that you're only replacing the first "A" with a "T", ignoring all the other "A"s.

#### Useful methods on lists

There are many other methods that you can perform on lists!!

$$
\begin{array}{|l|l|}
\hline
\textbf{Method} & \textbf{Description} \\
\hline
\texttt{list.append(a)} & \text{Adds the element `a` to the end of the list.} \\
\hline
\texttt{list.pop()} & \text{Removes and returns the last element of the list.} \\
\hline
\texttt{list.pop(i)} & \text{Removes and returns the element at index $i$.} \\
\hline
\texttt{list.index(x)} & \text{Returns the index of the first occurrence of $x$.} \\
\hline
\texttt{list.count(x)} & \text{Counts how many times $x$ appears in the list.} \\
\hline
\texttt{list.reverse()} & \text{Reverses the order of elements in the list.} \\
\hline
\texttt{list.sort()} & \text{Sorts the list.} \\
\hline
\end{array}
$$

In [ ]:
fruits = ["apple", "orange", "banana"]


# Try to add "strawberry" to our fruit list
....
print("List after adding strawberry is", fruits)

# what is the index of "oranges"?
index = ....
print("index of oranges is", index)

# now remove oranges
....
print("List after removing oranges is", fruits)

# Sort the list. How was it sorted?
....
print("List after sorting is", fruits)


# Sort the list, in descending order!
....
print("List after sorting in descending order is", fruits)

#### List Slicing

The same logic seen for strings applies here! Let's practice

In [ ]:
fruits = ["apple", "orange", "banana", "cherry"]

# Get the first nucleotide of fruits
print("first nucleotide of fruits:", fruits[0])
# Get the last nucleotide of fruits
print("last nucleotide of fruits:", fruits[-1])
# Get the first 3 nucletides of fruits
print("the first 5 nucletides of fruits:", fruits[0:3])
# Get the last 2 nucletides of fruits
print("the last 5 nucletides of fruits:", fruits[-2:])
# Only get "apple" and "banana"
print("only apple and banana:", fruits[0:3:2])  # or  fruits[0::2]

first nucleotide of fruits: apple
last nucleotide of fruits: cherry
the first 5 nucletides of fruits: ['apple', 'orange', 'banana']
the last 5 nucletides of fruits: ['banana', 'cherry']
only apple and banana: ['apple', 'banana']
only apple and banana: ['apple', 'banana']

#### Be careful!

Let's look at this example. Let's create a new list fruits2 to store our fruits.

In [ ]:
fruits = ["apple", "orange", "banana"]

fruits2 = fruits
print(fruits2)

# change the first element of the original list
fruits[0] = "mango"
print(fruits)

['apple', 'orange', 'banana']

In [ ]:
# look at fruits2
print(fruits2)

['mango', 'orange', 'banana']

We notice that element `0` of `fruits2` has also been modified!

In the example, when we assign fruits2 = fruits, Python makes both variables point to the same list in memory. This is confirmed by the logical test: fruits2 is fruit.

When `liste[0]` is modified, it’s not the memory address of the list that changes, but rather an element inside the list. So we are updating the value at index 0 within the same list; the list itself remains at the same memory location.

Since liste2 points to that same memory location, the modification is reflected there as well. This remains true even if you add or remove elements from the list.

If you want to force Python to create a copy of the list in a separate memory location, you can use the `.copy()` method.

In [ ]:
# Let's do it properly so that fruits2 remains unchanged
fruits = ["apple", "orange", "banana"]

....

# change the first element of the original list
fruits[0] = "mango"
print(fruits)
print(fruits2)  # should remain unchanged

['mango', 'orange', 'banana']
['apple', 'orange', 'banana']

### Dictionnaries

In a list, elements are indexed by integers from 0 to n.

A dictionary is similar to a list, but you can choose the indexes (which don’t have to be integers), and these are called keys.

A dictionary is of type `dict`.

Dictionaries are defined using curly braces {}. Each element is represented as a `key:value` pair.

In [ ]:
# Let's create a dict that stores personal info about people

person = {"name": "Sam", "age":30, "profession": "Engineer"}
person

{'name': 'Sam', 'age': 30, 'profession': 'Engineer'}

#### Accessing and modifying a dictionary

To access a value in a dictionnary, we use the syntax `dict_name["key"]`.

In [ ]:
# Get the name and the profession of `person`
....
# modify the profession to "Teacher"
....
print("person is now" , person)

Sam
teacher
person is now {'name': 'Sam', 'age': 30, 'profession': 'teacher'}

If you'd like to add another key, you just use: `dict_name["new_key"] = new_value`

In [ ]:
# Add a key `fav_sport`, and it should be `soccer`
....

print("person is now" , person)

person is now {'name': 'Sam', 'age': 30, 'profession': 'teacher', 'fav_sport': 'soccer'}

In [ ]:
# your turn: create a dictionary `point` that stores the coordinates of a the point A=(2.5 , 5)
....

# Add the `z` coordinate 10
....
print(point)

{'x': 2.5, 'y': 5, 'z': 10}

### Tuples

Tuples are designated by the `tuple` type. They function like fixed lists (which cannot be modified once constructed: tuples are immutable). They are distinguished from lists by the use of parentheses instead of square brackets.

In [ ]:
first_tuple = (1, 2, "hi")
type(first_tuple)

tuple

In [ ]:
## Methods on tuples

# Get first element

# Can we use append()?

# What about reverse()?

2



---

## Part 3: Control Flow

Control flow is about "making decisions" and "repeating actions".

### Conditional Statements in Python

In this part, we are going to build on everything we learned previously, including logical test.

#### Simple tests

The structure using `if` is a literal translation of the mathematical conditional structure:

$$
\begin{array}{ll}
\textbf{Mathematical} & \textbf{Python} \\
\hline
\text{If condition,} & \texttt{if condition:} \\
\text{Then instructions if the condition is true,} & \text{block of instructions if the condition is true,} \\
\text{Else instructions if the condition is false.} & \texttt{else:} \\
                                                    & \text{block of instructions if the condition is false.} \\
\text{Then the program continues outside the block.} & \text{Program continues outside the block.} \\
\end{array}
$$

Note: The word **"then"** is implied in Python and must **not** be written explicitly.

In [ ]:
# Very simple test: if x>5 print x is greater than 5, else print x is not greater than 5

x = 10

....

x is greater than 5

Notes:

* Indentation determines the code blocks.  
* The `else` part is optional.  
* Once Python finishes executing the instructions in the selected block, it continues with the rest of the program.

#### Nesting of Blocks

In a program, each block defined by an indentation level is an independent unit.  
This means that within an `if` block, you can include another conditional branch without any problem — and so on, recursively.

In [ ]:
# Let's add another test to see if x>10

x = 10

....

x is greater than 5
x is not greater than 10

#### Use of `elif`

It is possible to specify multiple alternatives in a conditional statement.   
This helps avoid nesting too many `if` statements inside one another.                      
To do this, we use the `elif` command as many times as needed.

In [ ]:
# first block
x = 5

if x > 0:
    print("x is positive")
elif x == 0:
    print("x is zero")
else:
    print("x is negative")

x is positive

#### Activity

Can you spot the mistake in this code? How do we improve it?

In [ ]:
# enter an integer
nb=10

if type(nb) != int:
    print("This is not an integer!")
elif nb % 2 == 0:
    print("The chosen number is even")
elif nb == 0:
    print("The chosen number is zero")
else:
    print("The chosen number is odd")

In [ ]:
# Now, fix it

### Loops

Most of the time, we will need to repeat the same instruction `n` times. Instead of writing the same command `n` times, we are going to use loops!

#### `while` loop

The `while` loop is used to execute instructions **as long as a condition is true**.

$$
\begin{array}{ll}
\textbf{Mathematical} & \textbf{Python} \\
\hline
\text{While condition is true,} & \texttt{while condition:} \\
\text{Do the instructions,} & \text{block of instructions if condition is true,} \\
\text{End} & \text{(no keyword needed, indentation handles it)} \\
\text{Continue with the rest of the program} & \text{program continues after the loop} \\
\end{array}
$$

Let's look at this simple example together

In [ ]:
# Let's count up until 10

i = 1

while i <= 10:
  print(i)
  i += 1

print("Finished!")

1
2
3
4
5
6
7
8
9
10
Finished!

##### Program Execution Flow

- `i` is assigned the value 1  
- `i <= 10` is true, so the loop instructions are executed:
  - Print `i`: 1  
  - Increment `i` by 1 → `i = 1 + 1 = 2`

- The loop instructions are done, so the condition `i <= 10` is checked again.  
  Since `i = 2`, the condition is still true, and the loop runs again:
  - Print `i`: 2  
  - Increment `i` by 1 → `i = 2 + 1 = 3`

- The condition is tested again, and it's still true...

- This continues until `i` becomes 11.  
  At that point, the condition `i <= 10` becomes false, and the program skips the loop body.

- The program then prints `"Finished!"`

##### Activity

What if instead of counting to 10, we count to an integer `n`?

In [ ]:
i = 1
n = 100

# Rewrite the while statement so that it counts until n
....

print("Finished!")

##### Be careful!

Image we comment out the command `i += 1`, What's going to happen?

I really don't recommend running it! :p

Answer: For the program to eventually finish (i.e., exit the `while` loop), the condition must **change at each iteration** through a variable that is updated.

In the previous example, it is the variable `i` that we increment.

⚠️ If you forget to update this variable (e.g., forget the line `i += 1`), then the condition will always remain true, and the loop will **never end** — this is called an **infinite loop**.

#### `for` loop                                                                    


The `for` loop is like a `while` loop, but the increment is built-in: you don't have to take care of it yourself.

Python automatically **initializes and updates** the loop variable for you.

As a result, you **won’t get infinite loops** with `for` loops — they always know when to stop.

As a first example, let's try to count from 1 to 10 using a `for` loop.

In [ ]:
# print numbers from 1 to 10

for i in range(1, 11):
  print(i)
  i += 1

print('Finished!')

##### Understanding `range(n, p)` in a `for` loop

In Python, `range(n, p)` represents the half‑open interval **[n, p)**:                                       
- It **includes** the start value `n`
- It **excludes** the end value `p`

This, in the example above, we need to use `p=11` to stop the loop at exactly `i=10`.

$$
\begin{array}{|l|l|}
\hline
\textbf{Syntax} & \textbf{Meaning} \\
\hline
\text{range(n)} & \text{integers from 0 to \(n-1\)} \\
\hline
\text{range(p, n)} & \text{integers from \(p\) to \(n-1\)} \\
\hline
\text{range(p, n, k)} & \text{integers from \(p\) to \(n-1\), with a step of \(k\) }\\
\hline
\end{array}
$$


* If `p` is greater than or equal to `n`, then `range(p, n)` produces an empty sequence (but does not raise an error). Both `p` and `n` can be negative.

* The step value `k` can be negative, which makes the sequence go downward (e.g. `range(5, 0, -1)` yields 5, 4, 3, 2, 1).



Let's use this last command of the table, and count until 100, but skip 5 elements each time

In [ ]:
# print numbers from 1 to 100, skip 5

....

print('Finished!')

#### So, should I use a `for` or a `while` loop?

==> It depends!

* Use a for loop when you know in advance how many times the loop should run. (Usually this corresponds to the exact number of calculations you need to perform.)

* Use a while loop in all other cases, where the number of iterations isn’t predetermined.

### Iterable objects and `for` loops

In Python, `range` is what we call an **iterable object**. This means you can loop over it—exactly what the `for` statement does: it traverses the interval defined by `range`.  

This idea extends to any object you can iterate in the same way; such objects are all called **iterables**.

For example, strings and lists are iterables!

In [ ]:
# Example of list iteration

fruits = [ "apple", "orange", "banana"]

for fruit in fruits:
  print(fruit)

In [ ]:
# Example of string iteration

DNA_seq1 = "AGATGCTGC"

....

In those two examples, the loop variable `i` directly takes each successive value from the iterable (whether it’s the letters of a string or the elements of a list). You could also manually index with `range()` and access items by position, but that is far less elegant and should be avoided whenever possible.

In [ ]:
# Example of list iteration (less elegant)

fruits = [ "apple", "orange", "banana"]

for i in range(len(fruits)):
  print(fruits[i])

In [ ]:
# Example of string iteration (less elegant)

DNA_seq1 = "AGATGCTGC"

....

##### Activity

Create a list `squares` wich contains the square of each element of the list `numbers`using a for **loop**

In [ ]:
# create squares

numbers = [1, 2, 3, 4, 5]

##### Bonus: `List Comprehension`!

There is a more elegant way to achieve the same result in just one line! It's called `List Comprehension`

In [ ]:
# Same exercice, with a list comprehension

squares = [ number**2 for number in numbers]              # You can call it number, i, j, k, element, elem, _, ... baasically anything but numbers/squares...
print(squares)



---

## Part 4: Functions & Modules


### Functions

A **function** is a finite sequence of instructions that takes an input and returns an output.

In Python, functions help you organize your code into reusable blocks. They allow you to avoid repetition and make your programs more readable and modular.

Basic syntax:
```
def function_name(argument):
    # sequence of instructions
    return result
```

The function is therefore composed of:
*  a header line beginning with the keyword `def` and ending with a colon `:`,
*  a block of instructions indented relative to the header line
*  a `return` instruction that returns the result

Once Python reaches a `return` statement inside a function, it **immediately exits** the function and returns the specified value.

In [ ]:
# Example of a function that takes an int and returns its square
def square(x):
  return x**2

Now that we have defined our function, let's call it!

In [ ]:
# Let's call it! Find the square of 10 using your function
b = square(10)
b

#### Activity 1: Function with one argument

Now that we know how to define and call functions, can you go back to where we counted until 10 and maje it a function? This time, 10 is going to be an argument so that we can easily replace it with any other integer.

In [ ]:
# count until n
....

In [ ]:
# Call it for n=10
....

#### Activity 2: Function with 2 arguments

A function can take many arguments! It can also take 0! Let's look at an example of two arguments.
*texte en italique*
Now, go back to the exercice where we tested whether a small DNA sequence (e.g., a motif) is present within a big DNA sequence.

Let's define a function `contains_motif` that takes both the small DNA sequence (`motif`), and the big DNA sequence (`dna_seq`), and outputs a boolean.

In [ ]:
#  function contains_motif
....

Let's now call this function, and test it on our sequences

In [ ]:
# Call `contains_motif`

DNA_seq1 = "AGATGCTGC"
DNA_seq2 = "GGGTGATGC"
big_DNA_seq = "GATAGCTGCTAGCTCGTAGCCATGCATCAACGTGGATGCAGTGGGGAGATGCTGCGTGATCGATCA"

.....

Wa have seen that a function takes an input (arguments) and returns an output. Actually, sometimes a function doesn't take any input, or does not return anything!

In [ ]:
# A function that takes no input and returns nothing!
def welcome_message():
  print("Welcome to our workshop!")   # There is no return!

In [ ]:
# Call it!
welcome_message()

So far, we've seen that:

* A function definition starts with the def keyword.
* A function parameters are given as a comma-separated list in parentheses. As we'll discuss, parameters are optional.
* A function body is indented. We'll discuss the function body more later.
* If a function returns output, the last line begins with the return keyword.
* A function can take multiple arguments, but can also take none!
* A function can return multiple elements (separated by a comma), but can also return none!

### Modules:

### Importing built-in functions:

Just like we can build our own functions, Python has built-in functions that we can use directly!

Over time, programmers have created many useful functions that are not built into the core Python language. These extra tools are organized into **libraries** (also called **modules**).

To use the functions from a library, you must first **import** the corresponding library into your program.

Let's say we want to determine the circumference of a circle. To do this, we need to apply the formula

$$
C = 2\pi r
$$

$\pi$ is actually one of those values that we can import from a module. This module is called `math`. Feel free to check out all the build-in function and constants that it offers!: *https://docs.python.org/3/library/math.html*

In [ ]:
pi

Actually, before using a function/constant from a module, you first need to improt that module.

You only need to run the command `import <module>`.

In [ ]:
# import math and use it to display pi
import math
math.pi

Note that we have to write module_name.function_name. This is because we are importing the whole module.

If you want to import a specific function/constant, use the command `from <module> import <function>`. This way, you will be able to use it directly.

In [ ]:
# import math and use it to display pi
from math import pi
pi

#### Be careful!
If you want to import ALL the functions of a module, use the command `from <module> import *`.

Sometimes, when you import multiple libraries, you may run into **conflicts** — for example, two libraries might define a function with the same name but different behavior.  

To avoid this, it's best to use the first syntax! With this method, every time you use a function from that library, you must prefix it with the library name and a dot (like we did in `math.pi`). However, it can be long and repetitive especially for modules with long names. To make it shorter, you can give the library an alias using the `as` keyword:

In [ ]:
# Import the module `random` with an alias
import random as rd

# randint() choses a random number between 1 and 10 (both included)
random_number = rd.randint(1,10)
print("I chose the number", random_number)

# choice() choses a element number in a list
random_fruit = rd.choice(["apple", "banana", "cherry"])
print("I chose the fruit", random_fruit)

#### Examples of modules

There are plenty of modules! As a beginner, here's a list of the ones that are going to be the most useful for you:

$$
\begin{array}{|l|l|}
\hline
\textbf{Library} & \textbf{Description} \\
\hline
\texttt{math} & \text{Basic mathematical tools} \\
\texttt{random} & \text{Random number generation.}  \\
\texttt{numpy} & \text{Powerful numerical arrays.} \\
\texttt{pandas} & \text{Data analysis and manipulation in table format} \\
\texttt{matplotlib} & \text{Plotting and visualization tools} \\
\hline
\end{array}
$$

#### Bonus activity

Using what we have learned so far and the random `package`, can you write a function `generate_random_dna` that generates a random sequence of DNA of length `n`?

In [ ]:
# generate_random_dna

....

In [ ]:
# Use it to generate a sequence of 100 nucleotides
generate_random_dna(100)



---

### Bonus: Intro to matplotlib

There are many modules that can be useful for plotting. `matplotlib` is the most famous one.

This module provides a number of graphical tools, especially for plotting curves. We will most often use the submodule `matplotlib.pyplot`, which we will assume is imported using the alias `plt`:

In [ ]:
import matplotlib.pyplot as plt

### Draw a simple line plot

To draw a line plot, you provide a list of x‑coordinates and a list of y‑coordinates, then call the `plot()` function to draw the curve.

The `axis()` function lets you define the window or visible range of the plot.  

If you call `plot()` multiple times, the plots are **superimposed** (drawn on the same figure).

Let's try to plot:
* $y = 2x$
* $y = x^2$
* $y = sin(x)$

In [ ]:
# plotting y = 2x

x = [i for i in range(10)]
y = [2*i for i in x] # same as [2, 4, 6, 8]

#plt.axis("equal")
plt.plot(x, y)
plt.grid()
plt.show()

In [ ]:
# plotting y = x **2

x = .....
y = .....

#plt.axis("equal")
plt.plot(x, y)
plt.title(r"$y = x^2$")
plt.xlabel("x")
plt.ylabel(r"$x^2$")
plt.grid()
plt.show()

In [ ]:
# plotting y = x **2

x = [i for i in range(0, 10)]
....

#plt.axis("equal")
plt.plot(x, y)
plt.title("Sine Wave: y = sin(x)")
plt.xlabel("x")
plt.ylabel("sin(x)")
plt.grid()
plt.show()

#### Bonus: Let's make the sine plot smoother

* `range()` only works with integers (or fixed steps), so the curve would be choppy.

* `linspace(start, stop, num_points)` gives you smooth floating-point intervals, perfect for trigonometric plots.

In [ ]:
import numpy as np
from math import pi
import matplotlib.pyplot as plt

x = np.linspace(0, 2 * pi, 100)
print(x)
# Compute sin(x)
....

# Plot
plt.plot(x, y)
plt.title("Smooth Sine Wave: y = sin(x)")
plt.xlabel("x (radians)")
plt.ylabel("sin(x)")
plt.grid(True)
plt.show()

In [ ]:
help(np.linspace)

### Exercises: DNA transcription and mRNA processing

Remember that DNA and RNA share most of their nucleotides, but they differ in one of the pyrimidines. DNA has thymine while RNA has uracil. I'm giving you the non-template strand DNA. Replace all the thymine nucleotides with uracil to get the result of transcription.

The non-template strand is AGCAGATGCATTAGCCATTAGTTTGCACCAGTATATGCAGAGTTTAGGAGACCATAATTAACGAGAGCCGATAGCTAGA

In [ ]:
# Put your code here
dna_sequence = "AGCAGATGCATTAGCCATTAGTTTGCACCAGTATATGCAGAGTTTAGGAGACCATAATTAACGAGAGCCGATAGCTAGA"
mrna_sequence = ....

print("The mRNA is:", mrna_sequence)
# Put your code here
dna_sequence = "AGCAGATGCATTAGCCATTAGTTTGCACCAGTATATGCAGAGTTTAGGAGACCATAATTAACGAGAGCCGATAGCTAGA"
mrna_sequence = ....

print("The mRNA is:", mrna_sequence)

 Now, let's say the template strand is AGCAGATGCATTAGCCATTAGTTTGCACCAGTATATGCAGAGTTTAGGAGACCATAATTAACGAGAGCCGATAGCTAGA. Let's transcribe to mRNA.

In [ ]:
# Put your code here
dna_sequence = "AGCAGTAGCATTAGCCATTAGTTTGCACCAGTATATGCAGAGTTTAGGAGACCATAATTAACGAGAGCCGATAGCTAGA"

mrna_sequence = ""

# for loop
....

print(f"My mRNA sequence is: {mrna_sequence}")